#navli , .butn{
    margin: 0rem 1rem;
    list-style: none;
}
#navli:hover{
    cursor: pointer;
}
.navul , .buttons{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.navul .active{
    padding-bottom: 0.18rem;
    border-bottom: 0.1rem solid red;
}
.cart{
    position: relative;
}
.cart .alertcart{
position: absolute;
min-width: 0.6rem;
min-height: 0.6rem;
background-color: blue;
border-radius: 50%;
top: -7px;
right: 5px;
}