.footer {
    background-color: rgba(219, 219, 242, 0.378);
    border: 2px solid rgba(90, 88, 88, 0.569);
}

.footer .box-container {
    display: flex;
    /* grid-template-columns: repeat(auto-fit, minmax(27rem, 2fr)); */
    gap: 1rem;
    align-items: flex-start;
}

.footer .box-container .box h3 {
    text-transform: uppercase;
    color: black;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
}

.footer .box-container .box a,
.footer .box-container .box p {
    display: block;
    padding: 0.4rem 0;
    font-size: 1.2rem;
    color: rgb(16, 19, 10);
}

.footer .box-container .box a i,
.footer .box-container .box p i {
    color: green;
}

.footer .box-container .box a:hover {
    text-decoration: underline;
    color: green;
}

.footer .credit {
    margin-top: 2rem;
    line-height: 1.5;
    text-align: center;
    font-size: 2rem;
    color: black;
}

.footer .credit span {
    color: green;
}
.box-container .box{
    border: 2px solid rgb(90, 88, 88);
    width: 24%;
}